@import "../../styles/index.scss";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 42px 0px 42px;
}

.pageNumbers {
  list-style: none;
  display: flex;

  align-self: center;
  position: absolute;
  bottom: 0;
  margin: 16px 0 16px 0;
}

.pageNumbers li {
  padding: 10px;
  cursor: pointer;
}

.pageNumbersActive {
  display: flex;
  align-items: center;
  align-self: center;
  background-color: $red;
  color: $white;
  border-radius: 25px;
  height: 30px;
  width: 30px;
  margin: 0px 10px 0px 10px;
  font-weight: bold;
}

.pageNumbersInactive {
  display: flex;
  align-items: center;
  align-self: center;
  color: $red;
  border: 1px solid $red;
  border-radius: 25px;
  height: 30px;
  width: 30px;
  margin: 0px 10px 0px 10px;
}

.pageNumbers li button {
  background-color: transparent;
  border: none;
  color: $red;
  font-size: 1.5rem;
  cursor: pointer;
}
.pageNumbers li button:hover {
  background-color: transparent;
  color: $red;
  opacity: 0.35;
}
.pageNumbers li button:focus {
  outline: none;
}

.icon {
  font-size: 1.5rem;
}

.tableContent {
  width: 100%;
  tr > th {
    padding: 10px 10px 10px 10px;
    text-align: center;
    font-size: 16px;
    color: $grey;
    border-right: 1px solid $red;
    border-bottom: 1px solid $red;

    &:last-child {
      border-right: none;
    }
  }

  td {
    font-size: 16px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    color: $grey;
    border-right: 1px solid $red;
    &:last-child {
      border-right: none;
    }
  }


}
