@import "../styles/colors.scss";
@import "../styles/breakpoints.scss";


* {
  font-family: sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $white;
}

table {
  width: 100%;
}

th {
  background-color: $red;
  color: $white;
}

tr > th {
  padding: 10px 10px 10px 10px;
  text-align: center;
  font-size: 16px;
  border-right: 9px solid $white;

  &:last-child {
    border-right: none;
  }
}

td {
  font-size: 16px;
  text-align: center;
  padding: 10px 10px 10px 10px;
  color: $black;
  border-bottom: 1px solid $red;
  &:last-child {
    border-right: none;
  }
}
