@import "../../styles/index.scss";

.searchContainer {
  display: flex;
  flex-direction: column;
}

.searchLabel {
  color: $red;
  font-size: 16px;
  margin-bottom: 2px;
}

.searchInput {
  width: 400px;
  height: 31px;
  border: 1px solid $grey;
  overflow: hidden;
  appearance: none;
  outline: 0;
  font-size: 14px;
  padding: 0 10px 0 10px;
}
