@import "../../../styles/index.scss";

.characterInfoContainer {
  display: flex;
  margin: 20px 0 20px 10px;

  .characterAvatar {
    height: 58px;
    width: 58px;
    border-radius: 29px;
    margin-right: 25px;
  }
  .characterName {
    align-self: center;
    justify-content: flex-start;
    color: $black;
  }
}

.itemName {
  color: $black;
  float: left;
}

.itemColumn {
  @media only screen and (max-width: $breakpoint) {
    display: none;
  }
}

.tableBodyItem {
  &:hover {
    background-color: $red;
    opacity: 30%;
  }
}
