@import "../../../styles/index.scss";

.modal {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5em 1em;
  z-index: 2;
  box-sizing: border-box;
  animation: fade-in 1s 1 linear;
  overflow: hidden;
}

@keyframes fade-in {
  0% {
    animation-timing-function: cubic-bezier(0.2242, 0.7499, 0.3142, 0.8148);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.content {
  width: 700px;
  height: 600px;
  background-color: $white;
  border-radius: 10px;

  .modalHeader {
    .modalClose {
      background-color: $white;
      border: none;
      outline: none;
      padding: 10px 10px 10px 10px;
      border-radius: 10px;
      .icon {
        font-size: 25px;
        color: $red;
      }
    }
  }
}

.modalBody {
  padding: 20px 20px 20px 20px;

  .characterInfoContainer {
    display: flex;
    justify-content: center;

    .characterAvatar {
      height: 70px;
      width: 70px;
      border-radius: 35px;
      margin-right: 25px;
    }
    .characterName {
      align-self: center;
      justify-content: flex-start;
      color: $black;
      font-size: 25px;
    }
  }
  .division {
    background-color: $red;
    height: 1px;
    opacity: 0.7;
  }
  .descriptionContainer {
    margin: 20px 0px 10px 0px;
    font-size: 16px;
    color: $black;
  }
  .dataContainer {
    margin: 20px 0px 10px 0px;
  }

  .buttonContainer {
    margin: 20px 0px 10px 0px;

    .infoTitleContainer {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      .infoPlus {
        font-size: 22px;
        color: $red;
        font-weight: bold;
      }
      .infoText {
        font-size: 22px;
        color: $black;
        font-weight: bold;
        margin-left: 3px;
      }
    }
  }
}

.buttonsContainer {
  margin: 20px 0px 10px 0px;

  display: flex;
  justify-content: center;
}
