@import "../../styles/colors.scss";

.dashboard {
  display: flex;
  height: 100vh;
  width: 100%;

  .header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .systemTitleContainer {
    flex-direction: row;
  }
  .systemTitleBorder {
    font-size: 25px;
    font-weight: bolder;
    color: $red;
    border-bottom: 4px solid $red;
  }
  .systemTitleBold {
    font-size: 25px;
    font-weight: bolder;
    color: $red;
  }
  .systemTitleRegular {
    font-size: 25px;
    color: $red;
  }
}
