@import "../../../styles/index.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  .firstMessage {
    font-size: 22px;
    color: $red;
    font-weight: bold;
  }
  .secondMessage {
    margin-top: 30px;
    font-size: 20px;
  }
}
